<body class="body">
  <br><br>
  Nome
  <input type="text" [(ngModel)]="contatto.nome">
  <br><br>
  Cognome
  <input type="text" [(ngModel)]="contatto.cognome">
  <br><br>
  Telefono
  <input type="text" [(ngModel)]="contatto.telefono">
  <br><br>
  <button *ngIf="showFormAggiungi" (click)="aggiungiContatto()">Aggiungi</button>
  <button *ngIf="showFormRecupera"  (click)="recuperaContatto()"> Recupera</button>&nbsp;
  <button *ngIf="showFormSvuota" (click)="svuotaRubrica()"> cancella Rubrica</button>&nbsp;
  <br><br>
  <table border="5px" *ngIf="showTable" align="center">
    <tr>
      <th>Id</th>&nbsp;
      <th>Nome</th>&nbsp;
      <th>Cognome</th>&nbsp;
      <th>Telefono</th>&nbsp;
      <th>Gestisci</th>&nbsp;
    </tr>
    <tr *ngFor="let r of rubrica; index as i">
      <td>{{r.id}}</td>&nbsp;
      <td>{{r.nome}}</td>&nbsp;
      <td>{{r.cognome}}</td>&nbsp;
      <td>{{r.telefono}}</td>&nbsp;

      <td>
        <button (click)="rimuoviContatto(i)"> X</button>&nbsp;

    </tr>
  </table>
</body>