<center>
<br><br>
Id
<input type="number" [(ngModel)]="rubrica.id">
<br><br>
Nome
<input type="text" [(ngModel)]="rubrica.nome">
<br><br>
Cognome
<input type="text" [(ngModel)]="rubrica.cognome">
<br><br>
Telefono
<input type="text" [(ngModel)]="rubrica.telefono">
<br><br>
<button (click)="aggiungi()">Aggiungi</button>
<br><br>
<table align="center">
  <tr>
    <th>Id</th>&nbsp;
    <th>Nome</th>&nbsp;
    <th>Cognome</th>&nbsp;
    <th>Telefono</th>&nbsp;
    <th>Gestisci</th>&nbsp;
  </tr>
  <tr *ngFor="let r of contatti; index as i">
    <td>{{r.id}}</td>&nbsp;
    <td>{{r.nome}}</td>&nbsp;
    <td>{{r.cognome}}</td>&nbsp;
    <td>{{r.telefono}}</td>&nbsp;

    <td>
      <button (click)="rimuovi(i)"> X</button>&nbsp;
    </td>
  </tr>
</table>
</center>